.topnav {
    background-color: #FFFFFF;
    border-bottom: 1px solid #C8C8C8;
    padding: 24px 50px;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 1.1em;
    display: inline;
}  

.topnav-right {
    float: right;
}

#logo {
    color:  #ff8b00;
    font-family: 'Lora', serif;
    font-size: 1.4em;
}

.topnav2 {
    background-color: #FFFFFF;
    border-bottom: 1px solid #C8C8C8;
    padding: 10px 40px;
    overflow: hidden;
}

.topnav2 a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 0px 10px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    transition: 0.5s ease;
    font-size: 0.9em;
    display: inline;
} 

.topnav2 a:hover {
    color: #ff8b00;
}

.search-container {
    display: inline-flex;
    float: left;
}

.search-container input {
    display: inline-flex;
    float: left;
    border-color: black;
    border-left: 1px solid #C8C8C8;
    border-top: 1px solid #C8C8C8;
    border-bottom: 1px solid #C8C8C8;
    font-family: 'Open Sans', sans-serif;
    border-right: 0px;
    font-size: 0.75em;
    padding: 4px;
    width: 30em;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-right: 24px;
    font-size: 0.68em;
    cursor: pointer;
    border: 0px;
}

.subscribe {
    float: right;
}

#subscribe {
    color: #ff8b00;
}