body {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}

body a {
    text-decoration: none;
}

.topnav {
    background-color: #FFFFFF;
    border-bottom: 1px solid #C8C8C8;
    padding: 24px 50px;
    z-index: 10;
    position: relative;
}

.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 1.1em;
    display: inline;
}  

.topnav-right {
    float: right;
}

#logo {
    color:  #ff8b00;
    font-family: 'Lora', serif;
    font-size: 1.4em;
}

.topnav2 {
    background-color: #FFFFFF;
    border-bottom: 1px solid #C8C8C8;
    padding: 10px 40px;
    overflow: hidden;
}

.topnav2 a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 0px 10px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    transition: 0.5s ease;
    font-size: 0.9em;
    display: inline;
} 

.topnav2 a:hover {
    color: #ff8b00;
}

.search-container {
    display: inline-flex;
    float: left;
}

.search-container input {
    display: inline-flex;
    float: left;
    border-color: black;
    border-left: 1px solid #C8C8C8;
    border-top: 1px solid #C8C8C8;
    border-bottom: 1px solid #C8C8C8;
    font-family: 'Open Sans', sans-serif;
    border-right: 0px;
    font-size: 0.75em;
    padding: 4px;
    width: 30em;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-right: 24px;
    font-size: 0.68em;
    cursor: pointer;
    border: 0px;
}

.topnav-right {
    float: right;
}

#subscribe {
    color: #ff8b00;
}

.containermain {
    width: 100%;
    height: 300px;
    text-align: center;
    padding-top: 100px;
    color: white;
    overflow: hidden;
    background: linear-gradient(rgb(255,139,0,0.7), rgb(255,139,0,0.7)), url("/static/revelationbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.containertext {
    float: right;
    margin: 40px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8vmax;
}

.main_column {
    float: left;
    width: 50%;
  }

.main_column a:hover {
    text-decoration: none;
    color: black;
}

.main_column a:hover h2 {
    text-decoration: none;
    color: #ff8b00;
    transition: 0.5s ease;
}

.secondary_column {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.secondary_column a:hover {
    text-decoration: none;
    color: black;
}

.secondary_column a:hover h5 {
    text-decoration: none;
    color: #ff8b00;
    transition: 0.5s ease;
}

.secondary_column a:hover h6 {
    text-decoration: none;
    color: #ff8b00;
    transition: 0.5s ease;
}

.img {
    width: 100%;
    height: 70%;
    padding: 20px;
}
  
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    text-decoration: none;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }

.boxofarticles {
    background-color: #FFFFFF;
    width: 48%;
    padding: 5px 10px;
    overflow: hidden;
    margin: 1em;
    float: left;
    border: 1px solid #C8C8C8;
}

.article-horizontal {
    margin-top: 10px;
    margin-bottom: 10px;
}

.article-horizontal {
    border: 1px solid #000000;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.loginbox {
  text-align: center;
  padding: 0px;
  width: 350px;
  border: 1px solid #C8C8C8;
}

.signupbox {
    text-align: center;
    padding: 0px;
    width: 500px;
    border: 1px solid #C8C8C8;
  }

  .subscribebox {
    text-align: center;
    padding: 0px;
    width: 350px;
    border: 1px solid #C8C8C8;
  }

  .contactbox {
    text-align: center;
    padding: 0px;
    width: 350px;
    border: 1px solid #C8C8C8;
  }

.boxtitle {
    color: #ff8b00;
    font-family: 'Lora', serif;
    font-size: 2em;
}

.formfield {
    font-family: 'Open Sans', sans-serif;
    margin: 0px 20px;
    padding: 10px;
}

.formbutton {
    margin: 0px 20px;
    padding: 10px;
    width: 225px;
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    color: #ff8b00;
    border: 1px solid #ff8b00;
    transition: 0.5s ease;
    cursor: pointer;
    border-radius: 2px;
}

.formbutton:hover {
    background-color: #ff8b00;
    color: #ffffff;
}

.formbutton2 {
    padding: 10px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    color: #ff8b00;
    border: 1px solid #ff8b00;
    transition: 0.5s ease;
    cursor: pointer;
    border-radius: 2px;
}

.formbutton2:hover {
    background-color: #ff8b00;
    color: #ffffff;
}

.formfield2 {
    font-family: 'Open Sans', sans-serif;
    margin: 0px 10px;
    padding: 10px;
    font-size: 0.8em;
}

.formselect {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    padding: 10px;
    margin: 0px 40px;
    background-color: #FFFFFF;
    border: 1px solid #C8C8C8;
}

.formselect2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #C8C8C8;
    width: 100%;
}

.formfield3 {
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    font-size: 0.8em;
    width: 100%;
    resize: none;
}

.promptaccount {
    font-family: 'Open Sans', sans-serif;
    color: #838383;
    font-size: 0.9em;
}

.promptreply {
    color: #ff8b00;
    transition: 0.5s ease;
}

.promptreply:hover {
    color: #000000;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    margin-top: auto;
}

#copyrightbar {
    border-top: 1px solid #C8C8C8;
    font-size: 0.8em;
}

.pagecontainer {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}

.pagetitle {
    color:#ff8b00;
    font-family: 'Lora', serif;
    font-size: 2em;
}

.pagesubtitle {
    color:#ff8b00;
    font-family: 'Lora', serif;
    font-size: 1.5em;
}

.supporttext {
    color: #838383;
    font-family: 'Lora', serif;
    font-size: 0.9em;
}

.articletitle {
    font-family: 'Lora', serif;
    font-size: 2vmax;
    color: #ff8b00;
}

.articleauthors {
    font-family: 'Lora', serif;
    font-size: 1.3vmax;
    color: #838383;
}

.articletopic {
    text-transform: uppercase;
}

.articlelabels {
    float: right;
}

.labelitem {
    margin: 0px 5px;
    color: #FFFFFF;
    padding: 3px 5px;
    border-radius: 2px;
    font-size: 0.9vmax;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
}

.dropbtn .fa {
    color: #ff8b00;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 157px;
    z-index: 5;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.9vmax;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    transition: 0.5s ease;
    color: #ff8b00;
    
}

.pagetable {
    width: 100%;
}

.toprow {
    color: #838383;
}

.articlecell {
    padding: 20px;
}

.articlesize {
    font-size: 1.5vmax;
}

.communityname {
    font-size: 1vmax;
    color: #838383;
}

.communitybyline {
    text-transform: uppercase;
    font-size: 0.9vmax;
}

.communityschool {
    font-size: 0.9vmax;
}

.search-container-holder {
    display: inline-flex;
}

.searchholder {
    background-color: #ff8b00;
}

.search-container-holder input {
    display: inline-flex;
    float: left;
    font-family: 'Open Sans', sans-serif;
    border: 0px;
    font-size: 1em;
    padding: 10px;
    width: 60vmax;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

.search-container-holder button {
    float: right;
    padding: 12px;
    margin-right: 24px;
    font-size: 0.83em;
    cursor: pointer;
    border: 0px;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}

.errormessage {
    color: #838383;
    font-family: 'Lora', serif;
    font-size: 5vmax;
}

.explorecol {
   border: 1px solid #C8C8C8;
   margin: 10px;
}

.topicname {
    color: #838383;
    font-size: 1.5vmax;
    font-family: 'Lora', serif;
    padding: 10px;
}


.exploreimagebig {
    width: 105%;
    margin-left: -2.5%;
}

.exploreimagesmall {
    width: 108%;
    margin-left: -4%;
}

.topcolor {
    width: 105%;
    margin-left: -2.5%;
    height: 1.5em;
}

.topcolorsmall {
    width: 108%;
    margin-left: -4%;
    height: 1.5em;
}

.articletitlebox {
    padding: 10px;
    color: #ff8b00;
    font-family: 'Lora', serif;
}