{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

<div class="pagecontainer">
    <div class="pagetitle">About</div>
    <hr>
    <p class="supporttext">Revelation was created to form an online journal of scientific work for high school and undergraduate students.
        Exemplary research conducted by young adults often goes overlooked within intellectual communities, and we have made it our goal to 
        provide a platform exclusively for them. This will give rising researchers the attention they deserve, while also allowing the 
        general public and professional researchers to see their work. 
    </p>
    <p class="supporttext">
        All high school and undergraduate students are encouraged to create an account at no cost and submit their work for publication. 
        Upon submission, each paper will be peer-reviewed by a randomly selected member of our editing staff, which solely consists of  
        other young researchers. If approved, the article will be published to the website and, thus, accessible to all users.
    </p>
</div>

{% endblock %}