{% extends "editorlayout.html" %}

{% block title %}
    Editor Dashboard
{% endblock %}

{% block main %}
    
<div class="pagecontainer">

    <div class="pagetitle">Articles to Edit</div>
    <hr>
<br>
    <table class="pagetable">
        <tr class="toprow">
            <th>Date</th>
            <th>Title</th>
            <th>Abstract</th>
            <th>Status</th>
        </tr>

        {% for article in articles %}

        <tr>
            <td class="articlecell">{{ article.date }}</td>
            <td class="articlecell">
                {% if article.status == 0 %}
                <a href="/editor_article?id={{ article.article_id }}">{{ article.title }}</a>
                {% else %}
                {{ article.title }}
                {% endif %}
            </td>
            <td class="articlecell">{{ article.abstract }}</td>
            <td class="articlecell">
                <p>
                    {% if article.status == 0 %}
                        Awaiting Editing
                    {% elif article.status == 1 %}
                        Published
                    {% elif article.status == 2 %}
                        Rejected
                    {% endif %}
                </p>

            </td>
        </tr>

        {% endfor %}

    </table>
    <br>

</div>
        
{% endblock %}