{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="containermain">
        <div class="containertext">A scientific journal built for young researchers by young researchers</div>
    </div>
    
    <div class="row">
        <div class="main_column">
            <div class="card">
                {% for article in articles %}
                    {% if loop.index <= 2 %}
                <div class="color-banner" style="background-color: {{ article.color }}">
                <br><br>
                </div>
                <p></p>
                <a href="/article?id={{ article.article_id }}">
                <h2 class="articletitle">{{ article.title }}</h2>
                </a>
                <small class="articletopic"><b>{{ article.topic }}</b><span style="float:right; ">{{ article.date }}</span></small>
                <div style="height: 0.5em;"></div>
                <p>{{ article.abstract }}</p>
                <hr>
                    {% endif %}
                {% endfor %}
              </div>
              <br>
        </div>
        <div class="secondary_column">
            <div class="card">
                <h4>More Articles</h4><hr>
                {% for article in articles %}
                    {% if loop.index > 2 %}
                <div class="color-banner" style="background-color: {{ article.color }}">
                    <br><br>
                </div>
                <p></p>
                <a href="/article?id={{ article.article_id }}">
                    <h5 class="articletitle articlesize">{{ article.title }}</h5>
                </a>
                <small class="articletopic"><b>{{ article.topic }}</b><span style="float:right; ">{{ article.date }}</span></small>
                <hr>
                    {% endif %}
                {% endfor %}
            </div>
            <br>
        </div>
        <div class="secondary_column">
            <div class="card">
                <h4>Community</h4>
                <hr>
                {% for person in community %}
                    <div class="communityname"> <b>{{ person.firstname }} {{ person.lastname }}</b><i style="color: #ff8b00;float: right;font-size: 1.2vmax;" class="fa fa-user"></i></div>
                    <div class="communitybyline">
                        <b>
                        {% if person.re == 0 %}
                            Researcher
                        {% endif %}
                        {% if person.re == 1 %}
                            Editor
                        {% endif %}
                        </b>
                        <span style="float: right;">
                        {% if person.hsc == 0 %}
                            HS
                        {% endif %}
                        {% if person.hsc == 1 %}
                            C
                        {% endif %}
                        </span>

                    </div>
                    <div class="communityschool">
                        {{ person.school }}
                    </div>

                    <hr>
                {% endfor %}
            </div>
            <br>
      </div>
{% endblock %}