{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="containermain">
        <div class="containertext">A scientific journal built for young researchers by young researchers</div>
    </div>
    
   <div class="boxofarticles">
        <div class="article-horizontal">
            <span><img src="/static/revelationbg.jpg" width="30%"></span>
            <span>Lorem ipsum dolor...</span>
        </div>
        <div class="article-horizontal">
            <span><img src="/static/revelationbg.jpg" width="30%"></span>
            <span>Lorem ipsum dolor...</span>
        </div>
   </div>

   <div class="copyright">

   </div>
{% endblock %}