{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="containermain">
        <div class="containertext">A scientific journal built for young researchers by young researchers</div>
    </div>
    
    <div class="row">
        <div class="main_column">
            <div class="card">
                <a href="#">
                <h2>[Article Title]</h2>
                <h5>[Authors]</h5>
                <h6>[Field]</h6>
                <p>Abstract/Introduction: Arma virumque cano Troiae qui primus ab oris. Et forsitan et haec olim meminisse iuvabit...</p>
                <small>[Date]</small>
                </a>
              </div>
          <div class="card">
            <a href="#">
            <h2>[Article Title]</h2>
            <h5>[Authors]</h5>
            <h6>[Field]</h6>
            <p>Abstract/Introduction: Arma virumque cano Troiae qui primus ab oris. Et forsitan et haec olim meminisse iuvabit...</p>
            <small>[Date]</small>
            </a>
          </div>
        </div>
        <div class="secondary_column">
            <div class="card">
                <h4>More Articles</h4><hr>
                <a href="#"><h5>[Article Title]</h5><h8>[Field]</h8><small>[Date]</small></img></a><hr>
                <a href="#"><h5>[Article Title]</h5><h8>[Field]</h8><small>[Date]</small></img></a><hr>
                <a href="#"><h5>[Article Title]</h5><h8>[Field]</h8><small>[Date]</small></img></a>
            </div>

        </div>
        <div class="secondary_column">
            <div class="card">
                <h4>Recent/Trending</h4><hr>
                <a href="#"><h6>[Insert some ideally long article title]</h6></a><hr>
                <a href="#"><h6>[Insert some ideally long article title]</h6></a><hr>
                <a href="#"><h6>[Insert some ideally long article title]</h6></a><hr>
                <a href="#"><h6>[Insert some ideally long article title]</h6></a><hr>
                <a href="#"><h6>[Insert some ideally long article title]</h6></a><hr>
                <a href="#"><h6>[Insert some ideally long article title]</h6></a><hr>
                <a href="#"><h6>[Insert some ideally long article title]</h6></a>
            </div>
            <br>
      </div>
{% endblock %}